/bootstrap/compiled.php
/vendor
/app/config/local
/app/config/production
/bower_components
/node_modules
/public/css
/public/js
/public/fonts

.env.*.php
.env.php
.DS_Store
.sass-cache

Thumbs.db
composer.phar
composer.lock
CONTRIBUTING.md